body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    color: black;
    font-weight: 900;
    margin-top: 40px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos filhos */
    gap: 40px;
    width: 100%;
}

.parte1, .parte2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    padding: 20px;
    gap: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.paragrafo1{
    font-size: 16px;
    color: #333;
    max-width: 500px;
}

.paragrafo2{
    font-size: 16px;
    color: #333;
    max-width: 500px;
}
